.save-coupon-modal {

    .modal-body {
        padding-top: 28px;

        .nav-service-types {
            margin-bottom: 24px;
        }
    }

    .modal-footer {
        padding-top: 24px;
        padding-bottom: 24px;
        border-top: 1px solid #DBDBDB;
    }
}
