<div class="row">

    <div class="reset-password-page">

        <div class="header-logo-section">
            <a routerLink="/"><img class="menus-logo" src="img/shared/menus-logo.svg" alt="menus"></a>
        </div>

        <page-loader center="page" *ngIf="busy"></page-loader>

        <div class="main-section">

            <div [hidden]="resetSuccess">

                <div class="section-title">Reset Password</div>
                <div class="section-info">Password reset code was successfully generated. The code has been sent to your account’s email address.</div>

                <form class="form" #form="ngForm" novalidate (ngSubmit)="form.valid && requestResetPassword(form)">

                    <div class="form-group" [ngClass]="{ 'has-error': input.hasError(form, resetCodeRef) }">
                        <label>Code from Email</label>
                        <input type="text" required #resetCodeRef="ngModel" name="resetCode" [(ngModel)]="resetPassword.resetCode" class="form-control">

                        <validation-messages [form]="form" [input]="resetCodeRef" label="Code"></validation-messages>
                    </div>

                    <div class="form-group input-container" [ngClass]="{ 'has-error': input.hasError(form, newPasswordRef) }">
                        <label>New Password</label>
                        <input type="password" class="form-control" required mValidateEqual="newConfirmPassword" reverse="true" mValidPassword #newPasswordRef="ngModel" name="newPassword" [(ngModel)]="resetPassword.newPassword">

                        <validation-messages [form]="form" [input]="newPasswordRef" label="New Password" labelEqual="Confirm Password"></validation-messages>
                    </div>

                    <div class="form-group input-container" [ngClass]="{ 'has-error': input.hasError(form, newConfirmPasswordRef) }">
                        <label>Confirm New Password</label>
                        <input type="password" class="form-control" required mValidateEqual="newPassword" #newConfirmPasswordRef="ngModel" name="newConfirmPassword" [(ngModel)]="resetPassword.confirmPassword">

                        <validation-messages [form]="form" [input]="newConfirmPasswordRef" label="Confirm Password" labelEqual="Password"></validation-messages>
                    </div>

                    <button type="submit" class="btn btn-success btn-xlg btn-block btn-action">Reset</button>

                </form>

            </div>

            <div *ngIf="resetSuccess" class="success-section">
                <div class="success-icon"></div>
                <div class="success-section-title">Success!</div>
                <div class="success-section-subtitle">Your password was successfully changed.</div>
            </div>

        </div>

    </div>

</div>

<!--<div class="page reset-password-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6 col-lg-offset-4 col-lg-4">
        <div class="logo-section">
          <img class="menus-logo" src="img/logo_white.png" alt="">
        </div>
        <div class="main-section">
          <div class="text-center m-b-10">
            Reset your password
          </div>
          <div class="m-b-10">
            <alert title="Success!" [message]="successMessage" type="success"></alert>
            <alert title="Error!" [message]="errorMessage" type="danger"></alert>
          </div>
          <form #form="ngForm" class="m-t-30" novalidate>
            <div class="form-group has-feedback" [ngClass]="{ 'has-error': !resetPassword.resetCode && formSubmitted }">
              <input type="text" [(ngModel)]="resetPassword.resetCode" name="resetCode" class="form-control input-lg" placeholder="Reset Code" required>
              <span class="glyphicon glyphicon glyphicon-lock form-control-feedback" aria-hidden="true"></span>
            </div>
            <div class="form-group has-feedback" [ngClass]="{ 'has-error': !resetPassword.newPassword && formSubmitted }">
              <input type="password" [(ngModel)]="resetPassword.newPassword" name="newPassword" class="form-control input-lg" placeholder="New Password" required>
              <span class="glyphicon glyphicon glyphicon-lock form-control-feedback" aria-hidden="true"></span>
            </div>
            <div class="form-group has-feedback" [ngClass]="{ 'has-error': !resetPassword.confirmPassword && formSubmitted }">
              <input type="password" [(ngModel)]="resetPassword.confirmPassword" name="confirmPassword" class="form-control input-lg" placeholder="Confirm Password" required>
              <span class="glyphicon glyphicon glyphicon-lock form-control-feedback" aria-hidden="true"></span>
            </div>
            <div class="loader" *ngIf="busy"></div>
            <div class="row" *ngIf="!busy">
              <div class="col-sm-offset-3 col-sm-6">
                <button type="submit" class="btn btn-primary btn-block btn-lg" (click)="requestResetPassword(form)">Reset password</button>
              </div>
            </div>
            <div class="text-center m-t-30">
              <a routerLink="/forgot-password" role="button">Didn't recieve reset code?</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>-->