<div class="page forgot-password-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6 col-lg-offset-4 col-lg-4">
        <div class="logo-section">
          <img class="menus-logo" src="img/logo_white.png" alt="">
        </div>
        <div class="main-section">
          <div class="text-center m-b-10">
            Forgot password
          </div>
          <div class="m-b-10">
            <alert title="Success!" [message]="successMessage" type="success"></alert>
            <alert title="Error!" [message]="errorMessage" type="danger"></alert>
          </div>
          <form #form="ngForm" class="m-t-30" novalidate>
            <div class="form-group has-feedback" [ngClass]="{ 'has-error': !forgotPassword.email && formSubmitted }">
              <input type="email" [(ngModel)]="forgotPassword.email" name="email" class="form-control input-lg" placeholder="Email" required>
              <span class="glyphicon glyphicon glyphicon-lock form-control-feedback" aria-hidden="true"></span>
            </div>
            <div class="form-group has-feedback" [ngClass]="{ 'has-error': !forgotPassword.securityAnswer && formSubmitted }">
              <input type="text" [(ngModel)]="forgotPassword.securityAnswer" name="securityAnswer" class="form-control input-lg" placeholder="Security Answer" required>
              <span class="glyphicon glyphicon glyphicon-lock form-control-feedback" aria-hidden="true"></span>
            </div>
            <div class="loader" *ngIf="busy"></div>
            <div class="row" *ngIf="!busy">
              <div class="col-sm-offset-3 col-sm-6">
                <button type="submit" class="btn btn-primary btn-block btn-lg" (click)="requestForgotPassword(form)">Send email</button>
              </div>
            </div>
            <div class="text-center m-t-30">
              <a routerLink="/reset-password" role="button">Already have reset code?</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>