<!-- <div *ngIf="menuItem.menuItemSizes?.length">
    <menu-item-options-list [title]="'Choose item size'" [required]="true" [isSingleSelect]="true" [optionItems]="menuItemDetails.menuItemSizes" (onOptionItemClick)="chooseSize($event)">
    </menu-item-options-list>
</div>

<div *ngIf="!busy">
    <menu-item-options-list *ngFor="let menuItemOption of menuItem.menuItemOptions" [title]="menuItemOption.OptionHeader" [required]="menuItemOption.Minimum_Select !== 0" [isSingleSelect]="menuItemOption.Is_Single_Select" [optionItems]="menuItemOption.OptionItems" (onOptionItemClick)="chooseOptionItem($event)">
    </menu-item-options-list>
</div> -->

<h1>{{ totalPrice }}</h1>