<div class="terms-of-use-page">
    <div class="header-logo-section">
        <a routerLink="/"><img class="menus-logo" src="img/shared/menus-logo.svg" alt="menus"></a>
    </div>

    <div class="main-title-section">
        <div class="main-title">Terms of use</div>
    </div>

    <div class="main-contents">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="page-text" [innerHTML]="userTerms"></div>
            </div>
        </div>
    </div>
</div>