.menu-page {

    min-height: calc(100vh - #{$cr-navbar-height});
    background-color: #F2F2F2;

    .dish-chips-container {
        border-top: 1px solid #DBDBDB;
        border-bottom: 1px solid #DBDBDB;
        padding: 8px 136px;
        background-color: white;
    }

    .menu-list {
        padding: 48px 136px;
    }
    
}


// .menu-page {
//     padding: 0 40px;
    
//     #menu-map {
//         height: 400px;
//         width: 100%;
//     }
    
//     .menu-list {
//         .menu-item {
//             border-bottom: 1px solid color(gray-l2);
//             padding-bottom: 20px;
//             margin-bottom: 20px;
//             cursor: pointer;
            
//             &:last-child {
//                 border-bottom: none;
//                 padding-bottom: 0;
//                 margin-bottom: 0;
//             }

//             .menu-img {
//                 border-radius: 2px;
//             }

//             .rest-name {
//                 margin-top: 0;
//                 color: $brand-info;
//             }

//             .rest-status {
//                 font-size: 12px;
//             }
            
//             .item-info {
//                 margin-top: 20px;
//             } 

//             .img-thumb-container {
//                 &.rest-thumb {
//                     width: 130px;
//                     height: 130px;
//                 }
//             }
//         }
//     }
// }