.forgot-password-page {

    .main-section-wrapper {
        padding: 0 24px;

        .main-section {
            margin-top: 57px;
            background-color: white;
            border-radius: 3px;
            max-width: 360px;
            margin-left: auto;
            margin-right: auto;

            @media (max-width: $screen-xs-max) {
                margin-top: 24px;
            }

            .section-title {
                font-weight: $lato-black;
                font-size: 24px;
                text-align: center;
            }

            .section-info {
                margin-top: 18px;
                text-align: center;
            }

            .form {
                margin-top: 50px;

                .btn-action {
                    margin-top: 24px;
                }
            }
        }
    }
}
