<div class="forgot-password-page">

    <div class="header-logo-section">
        <a routerLink="/"><img class="brand-logo" src="img/shared/brand-logo.svg"></a>
    </div>

    <div class="main-section-wrapper">

        <div class="main-section">
            <div class="section-title">Forgot Password</div>
            <div class="section-info">If you forgot your password, enter email and we will send you special code.</div>

            <form class="form" #form="ngForm" novalidate (ngSubmit)="form.valid && sendCode(form)">

                <div class="form-group" [ngClass]="{ 'has-error': input.hasError(form, emailRef) }">
                    <label>Your Email</label>
                    <input type="email" required mValidEmail #emailRef="ngModel" name="email" [(ngModel)]="email" class="form-control">

                    <validation-messages [form]="form" [input]="emailRef" label="Email"></validation-messages>
                </div>

                <button *ngIf="isBrowser" [ladda]="busy" type="submit" class="btn btn-success btn-xlg btn-block btn-action">Send</button>

            </form>
        </div>

    </div>

</div>