<div class="modal-backdrop fade in" *ngIf="isModalOpen"></div>

<!-- Modal -->
<div class="modal order-status-history-modal fade" *ngIf="isModalOpen" [ngClass]="{'d-block in': isModalOpen}" (click)="close()" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" mStopEvent>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="close()"><div class="delete-icon"></div></button>
                <h4 class="modal-title">{{ order.OrderNumber }} History</h4>
            </div>
            <div class="modal-body modal-scrollable">

                <div class="table-responsive customer-order-history-list">
                    <table class="table table-center">
                        <tr class="no-record" *ngIf="!order.StatusHistory || !order.StatusHistory.length">
                            <td colspan="3">No Records to display</td>
                        </tr>
                        <tr *ngFor="let status of order.StatusHistory" class="order-status" [ngClass]="{ 'order-status-accepted': status.StatusID == constants.ORDER_STATUS.ACCEPTED, 'order-status-cancelled-rest': status.StatusID == constants.ORDER_STATUS.CANCELLED_BY_REST, 'order-status-queue-added': status.StatusID == constants.ORDER_STATUS.QUEUE_ADDED }">
                            <td></td>
                            <td><div class="datetime-text">{{ status.Date | date:'short' }}</div></td>
                            <td>
                                <div class="status-text">{{ status.Status }}</div>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="close()">OK</button>
            </div>
        </div>
    </div>
</div>