<div class="user-address-list">

    <confirm-modal #confirmModal></confirm-modal>

    <div class="top-section">
        <div class="row">
            <div class="col-sm-6">
                <div class="section-title">Delivery Address</div>
            </div>
            <div class="col-sm-6 text-right">
                <button class="btn btn-success btn-add-new-address" (click)="editUserAddress()">Add a New Address</button>
            </div>
        </div>
    </div>

    <div class="user-address-table">
        <page-loader *ngIf="busyAction" [center]="'parent'"></page-loader>

        <div *ngIf="userAddresses.length" class="table-responsive">
            <table class="table">
                <tr>
                    <th>Default</th>
                    <th>Address</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <tr *ngFor="let userAddress of userAddresses; let index = index" (click)="setDefaultUserAddress(userAddress)">
                    <td>
                        <img [src]="constants.IMG_RADIO_ACTIVE" *ngIf="selectedUserAddress.ID == userAddress.ID" />
                        <img [src]="constants.IMG_RADIO" *ngIf="selectedUserAddress.ID != userAddress.ID" />
                    </td>
                    <td>{{ userAddress.Address }}</td>
                    <td mStopEvent>
                        <div class="pencil-icon" (click)="editUserAddress(userAddress)"></div>
                    </td>
                    <td mStopEvent>
                        <div class="delete-time-icon" (click)="deleteUserAddress(index, userAddress)"></div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>