<div class="cr-main-dashboard">
    <nav class="row navbar main-navbar">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" routerLink="/">
                    <img src="img/shared/menus-logo.svg" alt="">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a routerLink="/">Home</a></li>
                    <li><a routerLink="/backoffice/login">Backend</a></li>
                    <li><a href="#">Search</a></li>
                    <li *ngIf="!userService.loginUser"><a routerLink="/login">Login</a></li>
                    <li *ngIf="userService.loginUser"><a (click)="logout()">{{ userService.loginUser.FirstName}} {{ userService.loginUser.LastName}}</a></li>
                    <li><a class="shopping-cart-link" (click)="sharedDataService.toggleShoppingCart()"><div [ngClass]="{ 'basket-icon': shoppingCart.totalMenuItems > 0, 'basket-empty-icon': shoppingCart.totalMenuItems == 0 }"></div></a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <router-outlet></router-outlet>
    <!--<shopping-cart-modal #shoppingCartModal></shopping-cart-modal>-->
    <shopping-cart *ngIf="sharedDataService.isShoppingCartOpened"></shopping-cart>
</div>