<div class="row">
    <div class="page-not-found-page">

        <div class="header-logo-section">
            <a routerLink="/"><img class="brand-logo" src="img/shared/brand-logo.svg"></a>
        </div>

        <div class="clearfix">
            <div class="left-side">
                <div class="astronaut-img"></div>
            </div>
            
            <div class="right-side">
                <div class="title">Page Not Found</div>
                <div class="description">Oops, We can't cook your request at the moment.</div>

                <button class="btn btn-success btn-block back-button" (click)="goHome()">Go Home</button>
            </div>
        </div>

    </div>
</div>