.home-page {
  
  #menu-dining-options {
    background: url(../../assets/img/bg-home.jpg);
    background-position: center;
    background-size: cover;
  }
  
  #custom-search-input {
    margin-bottom: 50px; 
    padding: 10px;
  }

}