.reset-password-page {

    .main-section {
        $side-padding: 24px;

        padding: 0 $side-padding;
        margin-top: 57px;
        background-color: white;
        border-radius: 3px;
        max-width: 360px + (2 * $side-padding);
        margin-left: auto;
        margin-right: auto;

        .section-title {
            font-weight: $lato-black;
            font-size: 24px;
            text-align: center;
        }

        .section-info {
            margin-top: 18px;
            text-align: center;
        }
        
        .form {
            margin-top: 50px;

            .btn-action {
                margin-top: 24px;
            }
        }

        .success-section {
            text-align: center;

            .success-section-title {
                font-weight: $lato-black;
                font-size: 24px;
                margin-bottom: 12px;
            }
            .success-section-subtitle {
                font-size: 18px;
                margin-bottom: 66px;
            }
        }
    }
}