<div class="page login-page">

    <div *ngIf="!sharedDataService.isPlatform" class="header-logo-section">
        <a routerLink="/"><img class="brand-logo" src="img/shared/brand-logo.svg"></a>
    </div>

    <page-loader center="page" *ngIf="busy"></page-loader>

    <div>
        <div class="login-section-wrapper">
            <div class="login-section">
                <div class="login-section-label">Please login below</div>

                <form class="login-form" #form="ngForm" novalidate (ngSubmit)="form.valid && login()">
                    <div class="form-group" [ngClass]="{ 'has-error': input.hasError(form, email) }">
                        <label>Email</label>

                        <div class="m-input-group has-addon-left">
                            <div class="m-input-group-addon m-addon-left">
                                <div class="email-icon cursor-default"></div>
                            </div>

                            <input type="email" class="form-control" required mValidEmail #email="ngModel" name="email" [(ngModel)]="loginUser.UserName" placeholder="Email">
                        </div>

                        <validation-messages [form]="form" [input]="email" label="Email"></validation-messages>
                    </div>

                    <div class="form-group" [ngClass]="{ 'has-error': input.hasError(form, password) }">
                        <label>Password</label>

                        <div class="m-input-group has-addon-left has-addon-right">
                            <div class="m-input-group-addon m-addon-left">
                                <div class="password-icon cursor-default"></div>
                            </div>

                            <input type="{{ showPassword ? 'text' : 'password' }}" class="form-control" required #password="ngModel" name="password" [(ngModel)]="loginUser.Password" placeholder="Password">

                            <div class="m-input-group-addon m-addon-right show-password-addon" [ngClass]="{ 'active': showPassword }" (click)="toggleShowPassword()">
                                <div class="show-password-icon"></div>
                            </div>
                        </div>

                        <validation-messages [form]="form" [input]="password" label="Password"></validation-messages>
                    </div>

                    <div>
                        <div class="row">

                            <div class="col-sm-6">
                                <div class="checkbox remember-me">
                                    <label>
                                    <input type="checkbox"/>
                                    <span class="icon"></span>
                                    <span class="text">Remember me</span>
                                </label>
                                </div>
                            </div>

                            <div class="col-sm-6 login-btn-wrapper">
                                <button type="submit" class="btn btn-success btn-lg login-btn">Login</button>
                            </div>
                        </div>
                    </div>

                    <div class="login-seprator"></div>

                    <div class="forgot-password-link c-text3">
                        <a routerLink="/signup">Signup</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                        <a routerLink="/forgot-password">Forgot your password?</a>
                    </div>

                    <div *ngIf="sharedDataService.platformSettings.Enable_Facebook_Login" class="signup-btn">
                        <button type="button" class="btn btn-fb btn-block btn-xlg" (click)="socialLogin(PROVIDER_FACEBOOK)">
                            <div class="btn-wrapper">
                                <div class="facebook-icon custom-icon"></div>
                                <div class="btn-text">Login with Facebook</div>
                            </div>
                        </button>
                    </div>

                    <div *ngIf="sharedDataService.platformSettings.Enable_Google_Login" class="signup-btn">
                        <button type="button" class="btn btn-gplus btn-block btn-xlg" (click)="socialLogin(PROVIDER_GOOGLE)">
                            <div class="btn-wrapper">
                                <div class="google-icon custom-icon"></div>
                                <div class="btn-text">Login with Google</div>
                            </div>
                        </button>
                    </div>

                    <!--<div class="row">
                        <div class="col-sm-4">
                            <div class="checkbox">
                                <label>
                      <input type="checkbox"/>
                      <span class="icon"></span>
                      <span class="text">Remember me</span>
                  </label>
                            </div>
                        </div>
                        <div class="col-sm-8 text-right">
                            <button type="submit" class="btn btn-success btn-lg" (click)="login()">Login</button>
                        </div>
                    </div>-->

                    <!--<div class="login-seprator"></div>

                    <div class="forgot-password-link">
                        <a routerLink="/signup">Signup</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a routerLink="/forgot-password">Forgot your password?</a>
                    </div>-->
                </form>
            </div>
        </div>
    </div>
</div>