<div class="page change-password-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6 col-lg-offset-4 col-lg-4">
        <div class="logo-section">
          <img class="menus-logo" src="img/logo_white.png" alt="">
        </div>
        <div class="main-section">
          <div class="text-center m-b-10">
            Change your password
          </div>
          <div class="m-b-10">
            <alert title="Success!" [message]="successMessage" type="success"></alert>
            <alert title="Error!" [message]="errorMessage" type="danger"></alert>
          </div>
          <form #form="ngForm" class="m-t-30" novalidate>
            <div class="form-group has-feedback" [ngClass]="{ 'has-error': !userPassword.oldPassword && formSubmitted }">
              <input type="password" [(ngModel)]="userPassword.oldPassword" name="oldPassword" class="form-control input-lg" placeholder="Old Password" required>
              <span class="glyphicon glyphicon glyphicon-lock form-control-feedback" aria-hidden="true"></span>
            </div>
            <div class="form-group has-feedback" [ngClass]="{ 'has-error': !userPassword.newPassword && formSubmitted }">
              <input type="password" [(ngModel)]="userPassword.newPassword" name="newPassword" class="form-control input-lg" placeholder="New Password" required>
              <span class="glyphicon glyphicon glyphicon-lock form-control-feedback" aria-hidden="true"></span>
            </div>
            <div class="form-group has-feedback" [ngClass]="{ 'has-error': !userPassword.confirmPassword && formSubmitted }">
              <input type="password" [(ngModel)]="userPassword.confirmPassword" name="confirmPassword" class="form-control input-lg" placeholder="Confirm Password" required>
              <span class="glyphicon glyphicon glyphicon-lock form-control-feedback" aria-hidden="true"></span>
            </div>
            <div class="loader" *ngIf="busy"></div>
            <div class="row" *ngIf="!busy">
              <div class="col-sm-offset-2 col-sm-8">
                <button type="submit" class="btn btn-primary btn-block btn-lg" (click)="changePassword(form)">Change Password</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>